.editor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1em;
  margin-top: 1em;

  & #library {
    width: 10em;
    color: grey;

    & * {
      border-color: grey;
    }

    & > *:not(:first-child) {
      margin: 0.25em 0;
    }
  }

  & > .block {
    flex-grow: 1;
  }
}
